<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="syekh resto" content="Lokasi restoran berbagai daerah">
    <link rel="icon" href="./images/icon/favicon.png">
    <link rel="manifest" href="./app.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#base" class="skip-base">menuju ke base</a>
    <header>
      <!-- Mobile priority -->
      <div class="bground">
        <button class="btn-bar" id="slide">&#9776;</button>
        <span><h1>Syekh Resto</h1></span>
      </div>
      <nav class="mobile-nav" id="drawer">
        <ul class="mobile-list">
          <li class="mob-menu"><a href="#/Home">Home</a></li>
          <li class="mob-menu"><a href="#/Favorite">Favorite</a></li>
          <li class="mob-menu"><a href="https://www.linkedin.com/in/muhammad-idris-755776223/?trk=public-profile-join-page" target="_blank">About Us</a></li>
        </ul>
      </nav>
      <!-- Desktop -->
      <nav class="nav-desk">
        <a href="" class="brand-name">
          <span>
            <img
              src="./images/icon/brand-reso.png"
              alt="GitHub Logo"
            />
            <h3>Syekh Resto</h3>
          </span>
        </a>
        <ul class="list-desk">
          <li class="desk-menu"><a href="#/home">Home</a></li>
          <li class="desk-menu"><a href="#/favorite">Favorite</a></li>
          <li class="desk-menu"><a href="https://www.linkedin.com/in/muhammad-idris-755776223/?trk=public-profile-join-page" target="_blank">About Us</a></li>
        </ul>
      </nav>
    </header>
    <!-- Banner -->
    <div class="banner">
      <img src="./images/heros/hero-image_2.jpg" alt="Jumbotron" class="hero">
      <div class="banner-txt-img" tabindex="0">
        <h1 class="brand-banner">Rekomendasi Restoran Berbagai Daerah</h1>
      </div>
    </div>
    <main tabindex="0" id="base" class="base">
      <section class="galery">
        <div class="rec-resto">
          <h3><u><b tabindex="0">Telusuri Restoran Favorit Anda</b></u></h3>
          <div class="catalog" id="data">
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>2024 &copy; Syekh Catalog Resto</p>
    </footer>
  </body>
</html>




